{% load static %}
{% load custom_filters %}
<div class="container for-you">
    <div class="heading heading-flex mb-3">
        <div class="heading-left">
            <h2 class="title">Recommendation For You</h2><!-- End .title -->
        </div><!-- End .heading-left -->

       <div class="heading-right">
            <a href="#" class="title-link">View All Recommendadion <i class="icon-long-arrow-right"></i></a>
       </div><!-- End .heading-right -->
    </div><!-- End .heading -->

    <div class="products">
        <div class="row justify-content-center">

            {% for recomende in recommended %}

            <div class="col-6 col-md-4 col-lg-3">
                <div class="product product-2">
                    <figure class="product-media">
                        {% for tag in recomende.tags.all %}
                        {% if tag|stringformat:"s" == "Sale" %}
                            <span class="product-label label-circle label-sale">{{ tag }}</span>
                        {% elif tag|stringformat:"s" == "New" %}
                            <span class="product-label label-circle label-new">{{ tag }}</span>
                        {% elif tag|stringformat:"s" == "Top" %}
                            <span class="product-label label-circle label-top">{{ tag }}</span>
                        {% else %}
                        <span style=" background-color: rgb(69, 69, 145); color: azure;" class="product-label label-circle ">{{ tag }}</span>
                        {% endif %}
                    {% endfor %}
                    
                    
                        <a href="{% url 'product-detail' recomende.id %}">
                            <img src="{{ recomende.main_image.url }}" alt="Product image" class="product-image" width="300px">
                        </a>

                        <div class="product-action-vertical">
                            <a href="#" class="btn-product-icon btn-wishlist" title="Add to wishlist"></a>
                        </div><!-- End .product-action -->

                        <div class="product-action">
                            <a href="#" class="btn-product btn-cart" title="Add to cart"><span>add to cart</span></a>
                            <a href="" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
                        </div><!-- End .product-action -->
                    </figure><!-- End .product-media -->

                    <div class="product-body">
                        <div class="product-cat">
                            <a href="#">{{ recomende.category.name }}</a>
                        </div><!-- End .product-cat -->
                        <h3 class="product-title"><a href="">{{ recomende.name }}</a></h3><!-- End .product-title -->
                        <div class="product-price">
                            <span class="new-price">Rs {{ recomende.price }}</span>
                         
                        </div><!-- End .product-price -->
                        <div class="ratings-container">
                            <h5>
                                <span style="color: gold;">
                                    {{ recomende.review|stars }}
                                </span>
                            </h5>
                            <h6>
                                <span class="ratings-text"> (review {{ recomende.reviews.count }})
                                </span>
                            </h6>
                        </div><!-- End .rating-container -->

                        <div class="product-nav product-nav-dots">
                            <a href="#" class="active" style="background: #666666;"><span class="sr-only">Color name</span></a>
                            <a href="#" style="background: #ff887f;"><span class="sr-only">Color name</span></a>
                            <a href="#" style="background: #6699cc;"><span class="sr-only">Color name</span></a>
                            <a href="#" style="background: #f3dbc1;"><span class="sr-only">Color name</span></a>
                            <a href="#" style="background: #eaeaec;"><span class="sr-only">Color name</span></a>
                        </div><!-- End .product-nav -->
                    </div><!-- End .product-body -->
                </div><!-- End .product -->
            </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->

            {% endfor %}
           
        </div><!-- End .row -->
    </div><!-- End .products -->
</div><!-- End .container -->