{% load static %}
{% load custom_filters %}
<div class="bg-light pt-5 pb-6">
    <div class="container trending-products">
        <div class="heading heading-flex mb-3">
            <div class="heading-left">
                <h2 class="title">Trending Products</h2><!-- End .title -->
            </div><!-- End .heading-left -->

            <div class="heading-right">
                <ul class="nav nav-pills nav-border-anim justify-content-center" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="trending-top-link" data-toggle="tab" href="#trending-top-tab" role="tab" aria-controls="trending-top-tab" aria-selected="true">All</a>
                    </li>
                    {% for tag in tags %}
                    <li class="nav-item">
                        <a class="nav-link" id="nav-{{ tag.name|slugify }}-link" data-toggle="tab" href="#nav-{{ tag.name|slugify }}-tab" role="tab" aria-controls="nav-{{ tag.name|slugify }}-tab" aria-selected="false">{{ tag }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div><!-- End .heading-right -->
        </div><!-- End .heading -->

        <div class="row">
            <div class="col-xl-5col d-none d-xl-block">
                <div class="banner">
                    <a href="#">
                        <img src="{% static 'assets/images/demos/demo-4/banners/banner-4.jpg' %}" alt="banner">
                    </a>
                </div><!-- End .banner -->
            </div><!-- End .col-xl-5col -->

            <div class="col-xl-4-5col">
                <div class="tab-content tab-content-carousel just-action-icons-sm">
                    <div class="tab-pane p-0 fade show active" id="trending-top-tab" role="tabpanel" aria-labelledby="trending-top-link">
                        <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                            data-owl-options='{
                                "nav": true, 
                                "dots": false,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    }
                                }
                            }'>

                            <!-- Product content remains unchanged -->
                             {% for product in recommended %}
                            <div class="product product-2">
                                <figure class="product-media">
                                    {% for tag in product.tags.all %}
                                    {% if tag|stringformat:"s" == "Sale" %}
                                        <span class="product-label label-circle label-sale">{{ tag }}</span>
                                    {% elif tag|stringformat:"s" == "New" %}
                                        <span class="product-label label-circle label-new">{{ tag }}</span>
                                    {% elif tag|stringformat:"s" == "Top" %}
                                        <span class="product-label label-circle label-top">{{ tag }}</span>
                                    {% else %}
                                        <span style="background-color: rgb(69, 69, 145); color: azure;" class="product-label label-circle">{{ tag }}</span>
                                    {% endif %}
                                    {% endfor %}
                                    <a href="product.html">
                                        <img src="{{ product.main_image.url}}" alt="Product image" class="product-image">
                                    </a>

                                    <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-wishlist" title="Add to wishlist"></a>
                                    </div><!-- End .product-action -->

                                    <div class="product-action">
                                        <a href="#" class="btn-product btn-cart" title="Add to cart"><span>add to cart</span></a>
                                        <a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
                                    </div><!-- End .product-action -->
                                </figure><!-- End .product-media -->

                                <div class="product-body">
                                    <div class="product-cat">
                                        <a href="#">{{ product.category.name }}</a>
                                    </div><!-- End .product-cat -->
                                    <h3 class="product-title"><a href="product.html">{{ product.name }}</a></h3><!-- End .product-title -->
                                    <div class="product-price">
                                        {{ product.price }}
                                    </div><!-- End .product-price -->
                                    <div class="ratings-container">
                                        <h5>
                                            <span style="color: gold;">
                                                {{ product.review|stars }}
                                            </span>
                                        </h5>
                                        <h6>
                                            <span class="ratings-text"> (review {{ product.reviews.count }})
                                            </span>
                                        </h6>
                                    </div><!-- End .rating-container -->

                                    <div class="product-nav product-nav-dots">
                                        <a href="#" style="background: #69b4ff;"><span class="sr-only">Color name</span></a>
                                        <a href="#" style="background: #ff887f;"><span class="sr-only">Color name</span></a>
                                        <a href="#" class="active" style="background: #333333;"><span class="sr-only">Color name</span></a>
                                    </div><!-- End .product-nav -->
                                </div><!-- End .product-body -->
                            </div><!-- End .product -->
                            {% endfor %}
                        </div><!-- End .owl-carousel -->
                    </div><!-- .End .tab-pane -->
                    {% for tag in tags %}
                    <div class="tab-pane p-0 fade " id="nav-{{ tag.name|slugify }}-tab" role="tabpanel" aria-labelledby="nav-{{ tag.name|slugify }}-link">
                        <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                            data-owl-options='{
                                "nav": true, 
                                "dots": false,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    }
                                }
                            }'>
                            {% for product in tag.product_set.all|slice:":3" %}
                            <div class="product product-2">
                                <figure class="product-media">
                                    {% for tag in product.tags.all %}
                        {% if tag|stringformat:"s" == "Sale" %}
                            <span class="product-label label-circle label-sale">{{ tag }}</span>
                        {% elif tag|stringformat:"s" == "New" %}
                            <span class="product-label label-circle label-new">{{ tag }}</span>
                        {% elif tag|stringformat:"s" == "Top" %}
                            <span class="product-label label-circle label-top">{{ tag }}</span>
                        {% else %}
                            <span style="background-color: rgb(69, 69, 145); color: azure;" class="product-label label-circle">{{ tag }}</span>
                        {% endif %}
                        {% endfor %}
                                    <a href="">
                                        <img src="{{ product.main_image.url }}" alt="Product image" class="product-image">
                                    </a>

                                    <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-wishlist" title="Add to wishlist"></a>
                                    </div><!-- End .product-action -->

                                    <div class="product-action">
                                        <a href="#" class="btn-product btn-cart" title="Add to cart"><span>add to cart</span></a>
                                        <a href="{% url 'quick-view' product.id %}" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
                                    </div><!-- End .product-action -->
                                </figure><!-- End .product-media -->

                                <div class="product-body">
                                    <div class="product-cat">
                                        <a href="#">{{ product.category.name }}s</a>
                                    </div><!-- End .product-cat -->
                                    <h3 class="product-title"><a href="">{{ product.name }}</a></h3><!-- End .product-title -->
                                    <div class="product-price">
                                        {{ product.price }}
                                    </div><!-- End .product-price -->
                                    <div class="ratings-container">
                                        <h5>
                                            <span style="color: gold;">
                                                {{ product.review|stars }}
                                            </span>
                                        </h5>
                                        <h6>
                                            <span class="ratings-text"> (review {{ product.reviews.count }})
                                            </span>
                                        </h6>
                                    </div><!-- End .rating-container -->

                                    <div class="product-nav product-nav-dots">
                                        <a href="#" style="background: #edd2c8;"><span class="sr-only">Color name</span></a>
                                        <a href="#" style="background: #eaeaec;"><span class="sr-only">Color name</span></a>
                                        <a href="#" class="active" style="background: #333333;"><span class="sr-only">Color name</span></a>
                                    </div><!-- End .product-nav -->
                                </div><!-- End .product-body -->
                            </div><!-- End .product -->
                            {% endfor %}
                        </div><!-- End .owl-carousel -->
                    </div><!-- .End .tab-pane -->
                    {% endfor %}
                </div><!-- End .tab-content -->
            </div><!-- End .col-xl-4-5col -->
        </div><!-- End .row -->
    </div><!-- End .container -->
</div><!-- End .bg-light pt-5 pb-6 -->
