<div class="container quickView-container">
    <div class="quickView-content" >
        <div class="row" >
            <div class="col-md-6" style="text-align: center;">
                    
                        
                            <img id="product-zoom" src="{{ product.main_image.url }}"
                                data-zoom-image="{{ product.main_image.url }}" width="100%" alt="product image">
                          
                       
                   
                </div><!-- End .col md-6 -->
            <div class="col-md-6">
                <figure class="product-main-image">
                    <h1 class="product-title">{{ product.name }}</h1>
                    <div class="product-price">
                        Rs {{ product.price }}
                    </div>
                    
                    <p>
                        {{ product.description|truncatewords:40 }}
                    </p>
                    <div class="details-filter-row details-row-size">

                        {% for tag in product.tags.all %}
                        &nbsp;
                        {% if tag|stringformat:"s" == "Sale" %}
                        <span
                            style="background-color: rgb(194, 53, 32); color: azure; padding: 5px 15px; border-radius: 5px; display: inline-block;">
                            {{ tag.name }}
                        </span>
                        {% elif tag|stringformat:"s" == "New" %}
                        <span
                            style="background-color: rgb(32, 194, 46); color: azure; padding: 5px 15px; border-radius: 5px; display: inline-block;">
                            {{ tag.name }}
                        </span>
                        {% elif tag|stringformat:"s" == "Top" %}
                        <span
                            style="background-color: rgb(186, 32, 194); color: azure; padding: 5px 15px; border-radius: 5px; display: inline-block;">
                            {{ tag.name }}
                        </span>
                        {% else %}
                        <span
                            style="background-color: rgb(194, 191, 32); color: azure; padding: 5px 15px; border-radius: 5px; display: inline-block;">
                            {{ tag.name }}
                        </span>
                        {% endif %}
                        {% endfor %}
                    </div><!-- End .details-filter-row -->

                    <h5>Other image of the Product</h5>
                    <div class="product-nav product-nav-thumbs" >
                        {% for proimage in product.gallery_images.all %}
                        <a href="#" class="active">
                            <img src="{{ proimage.image.url }}" alt="product desc" >
                        </a>
                        {% endfor %}
                    </div><!-- End .product-nav -->

                </figure><!-- End .product-main-image -->
                </div><!-- End .col md-6 -->
                      
                       
            </div><!-- End row -->
        </div>
</div>
